@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* General styling */

body {
    font-family: 'Roboto Mono', monospace;
}

header {
    height: 90px;
    width: 100%;
}

img {
    max-height: 100%;
    max-width: 100%;
}

/* Styling classes */

.btn-add {
    color: #fff;
    background-color: #28a745;
    width: 6rem;
    height: 60%;
    border-color: #28a745;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
}

.btn-close {
    color: red;
    font-size: 28px;
    font-weight: bold;
}

.btn-read {
    font-size: 20px;
    margin-top: 5px;
}

.btn-read:hover,
.btn-read:focus {
    font-size: 22px;
    cursor: pointer;
}

.btn-close:hover,
.btn-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.container-tall {
    height: 500px;  
}

.display-inline-block {
    display: inline-block;
}

.flex-around {
    display: flex;
    justify-content: space-around;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-column-space {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.flex-start-wrap {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

.grow-1 {
    flex-grow: 1;
}

.height-80p {
    height: 80%;
}

.max-width-100p {
    max-width: 100%;
    overflow: visible;
}

.max-width-150 {
    max-width: 150px;
}

.margin-10 {
    margin: 10px;
}

.margin-20 {
    margin: 20px;
}

.margin-bot-10 {
    margin-bottom: 10px;
}

.margin-right-10 {
    margin-right: 10px;
}

.modal-content {
    position: absolute;
    width: 25%;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    box-shadow: 20px 20px 50px grey;
}

.padding-10 {
    padding: 10px;
}

.shared-width {
    width: 33%;
}

.shrink-2 {
    flex-shrink: 2;
}

.side-borders {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.stretch {
    align-items: stretch;
}

.text-center {
    text-align: center;
}

.thumbnail {
    width: 130px;
    height: 200px;
    border: 1px solid black;
}

.width-80p {
    width: 80%;
}

.width-100p {
    width: 100%;
}

/* ID styling */

/* The Modal (background) */
#addBookModal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
}


/* The Close Button */
#closeModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#closeModal:hover,
#closeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

#submit {
    color: #fff;
    background-color: gray;
    border-color: black;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: none;
}